<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/facts.css">
    <link rel="stylesheet" href="/css/font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black history facts</title>
</head>

<body>
    <h1>Black History Facts</h1>

    <main>
        <section>
            <blockquote>
                <%= fact %>
            </blockquote>
        </section>
    </main>
</body>

</html>