@font-face {
    font-family: 'DK Magical Brush';
    src: url('../font/DKMagicalBrush-Regular.woff2') format('woff2'),
        url('../font/DKMagicalBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

