* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/background.jpeg);
    font-family: 'DK Magical Brush';
    overflow: hidden;
}

header {
    /* max-width: 480px; */
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-bottom: .5em; */
    /* font-family: "Orbitron", sans-serif; */
    color: black;
    background-color: white;
    align-content: space-between;}

header section {
    display: flex;   
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10em;
    margin-right: 10em;
}

header img {
    height: 4em;
    width: 4em;
    margin: 1em;
align-items: center;}

header section:nth-of-type(1) p {
    font-size: .9em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.1);
}

header section:nth-of-type(2){
    flex-direction: column;
    width: 100%;
    margin: 0em;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    margin-right: 2em;
    position: relative;
}

ul {
    position: relative;
    height: 126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

span {
    margin-top: 10px;
}



main {
    max-width: 60em;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    margin: auto;
    padding: 1em;
    justify-content: space-evenly;
    /* position: absolute; */
}

img {
    height: 17em;
    width: 100%;
    /* position: relative; */
}

.card {
    position: relative;
    width: 12em;
    height: 17em;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card article {
    /* height: 130px; */
    border-radius: 4px;
    cursor: pointer;
}

.back,
.front {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.show {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.match {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}



@media screen and (max-width: 50em) {
  
    body {
        overflow: auto;
    }
    
    .head {
        max-width: 100vw;
    }

    main {
        grid-template-columns: repeat(2, auto);
        height: 1em;
    }

}