* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/background.jpeg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    /* max-width: 480px; */
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
    /* font-family: "Orbitron", sans-serif; */
    color: black;
    background-color: white;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

span {
    margin-top: 10px;
}

main {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
    justify-content: space-evenly;
    /* position: absolute; */
}

img {
    height: auto;
    width: 100%;
    /* position: relative; */
}

.card {
    position: relative;
    width: 12em;
    height: 19em;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card article {
    /* height: 130px; */
    border-radius: 4px;
    cursor: pointer;
}

.back,
.front {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.show {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.match {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

/* 

@media screen and (min-width: 770px) {
    .head {
        max-width: 100vw;
    }

    .card {
        grid-template-columns: repeat(5, auto);
    }

    .content article {
        height: 170px;
    }
} */